.wrapper {
    border: 1px solid black;
    width: 854px;
    padding: 2px;
    margin: 10px;
    font-family: sans-serif;
    font-size: 16px;
}
table {
    text-align: left;
    font-size: 12px;
    width: 100%;
    border: 2px solid black;
    border-collapse: collapse;
}
td {
    padding: 2px 10px 10px;
}
caption {
    font-weight: bold;
    padding: 5px;
}
tbody,
tfoot,
thead {
    vertical-align: top;
}
thead {
    text-align: center;
}
tbody tr td:nth-child(n+3),
tbody tr:last-child td:nth-child(2),
tbody tr:nth-child(2) td:nth-child(2),
tfoot tr td:nth-child(n+3),
tfoot tr:last-child td:nth-child(2) {
    text-align: right;
}
.exception {
    vertical-align: bottom;
}
#exceptiontwo {
    text-align: left;
}
tbody {
    border-top: 2px solid black;
}
.leftborder {
    border-left: 2px solid black;
}
.borderbottom,
tbody tr:first-child td:nth-child(2),
tbody tr:nth-child(2n) {
    border-bottom: 1px solid black;
}
.leftborder,
.leftborder ~ td {
    border-right: 1px solid black;
}
tfoot tr:first-child td:first-child {
    border-top: 1px solid black;
}
